<nav class="navbar navbar-expand-lg bg-body-tertiary navbar-dark ">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('pages.home') }}"> someBlog</a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          {% if not current_user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('pages.home') }}">Home</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('authors.options') }}">Signups</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('authors.login') }}">Login</a>
            </li>


          {% endif %}
          {% if current_user.is_authenticated %}
          {% if current_user.role == 'author' %}
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{ url_for('authors.yourPosts') }}">Your posts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('authors.newPosts')}}">New Post</a>
            </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('authors.logout') }}">Logout</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('authors.authorInfo') }}">Author info</a>
              </li>
          {% else %}
              <li class="nav-item">
                <a class="nav-link" href="#posts">Posts</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('authors.logout') }}">Logout</a>
              </li>
              
          {% endif %}

          {% endif %}
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>