{% extends "authors/authorBase.html" %}


{% block head %}{% endblock head %}

{% block body %}
<main id="authorLogin">
    <div class="formContainerMain d-flex align-items-center justify-content-center flex-column">
        {% with message = get_flashed_messages() %}
        {% if message %}
        {{ message[0] }}
        {% endif %}
        {% endwith %}
        <div class="formContainter" >
            <form action="/author-login" class="form-control" method="POST">
                <input type="email" placeholder="Email" name="email" class="form-control">
                <input type="password" placeholder="password" name="password" minlength="8" class="form-control">
                <input type="submit" value="Login" class="form-control">
            </form>
        </div>

    </div>
</main>
{% endblock body %}