{% extends "authors/authorBase.html" %}

{% block head %}
<title>Author options</title>
{% endblock head %}

{% block body %}
<main id="authorOptions" class="h-100 ">
    <section class="heroPage d-flex flex-column justify-content-center gap-3 align-items-center  ">
        <div class="div"><a href="{{ url_for('auth.signup') }}" class="btn btn-info">Reader signup</a></div>
        <div class="div"><a href="{{ url_for('authors.signup') }}" class="btn btn-info">Author signup</a></div>
    </section>
</main>
{% endblock body %}