{% extends "authors/authorBase.html" %}

{% block head %}
<title>Welcome, {{ name }}</title>
{% endblock head %}

{% block body %}
<main id="yourPosts">
    {% if posts | length < 1 %}
        <h1 class="display-1 text-center ">No posts yet.</h1>
    {% endif %}
    {% for post in posts %}
    <section class="article">
            <div class="title">
                <h1 class="display-6">
                    {{ post.article_title }}
                    
                </h1>
                <img src="{{ post.article_photo }}" alt="article_icon" class="img-fluid">
            </div>
            <div class="content">{{ post.article_content }}</div>
            <div class="buttons">
                <a href="/delete/{{ post.article_id }}" class="btn btn-danger" onclick="return confirm('You will permanently delete this article. You cannot undo this action once you continue.')">Delete Post</a>
                <a href="/update/{{ post.article_id }}" class="btn btn-info " onclick="return confirm('You cannot undo the changes you made once you update an article.')">Update Post</a>
            </div>
        </section>
        {% endfor %}
</main>
{% endblock body %}